@* strong typed view *@

@model MVCDayOne.Models.studentdept



@{
    Layout = "~/Views/Shared/_layout.cshtml";
} 

        <!-- #region name -->
        @* viewdata can read from viewbag  and vice versa *@
        @*<h1>@ViewData["id"]</h1>
        <h1>@ViewData["name"]</h1>
        <h1>@ViewBag.age</h1>*@

        <!-- #endregion -->
        <!-- #region name -->
        @*<h1>@Model.fullname</h1>
        <h1>@Model.location</h1>
        <h1>@Model.age</h1>*@

        <!-- #endregion -->


        @*<a href="/home/test/5">download</a>*@

        <div style="display:block">
            <table style="text-align:center ; border:2px solid black">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>age</th>
                    <th>Department</th>

                </tr>

                @{
                    foreach (var item in Model.students)
                    {
                        <tr >
                            <td style="text-align:center ; border:2px solid black">@item.Name</td>
                            <td style="text-align:center ; border:2px solid black">@item.Address</td>
                            <td style="text-align:center ; border:2px solid black">@item.Age</td>
                            <td style="text-align:center ; border:2px solid black">@item.Department.Name</td>
                        </tr>
                    }
                }
            </table>
        </div>

